
div.text {
    padding: 50px;
    background-color: #FFFFFF;
    border: solid 2px;
}
html{
    background-color: #e6d065;
}
#title{
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #FFFFFF;
    border: solid 2px;
}
h3{
    border-bottom: solid 1px;
    font-size: 30px;
}
body{
    font-size: 20px;
}
img{
    
    max-width: 50%;
    height: auto;
    
}
