h2,h1,p.center{text-align: center;}
#top,#down,.a{display: flex;flex-direction: row;}
div.logo{width: 10%;border: solid;margin: 10px;}
div.title{width: 100%;border: solid;}
.menu{transform: translateX(-150%);border: solid;width: 10%;position: fixed;transition: transform .3s ease;}
.menu.open{transform: translateX(0%);z-index: 10;}
.main{transform: translateX(8%);width:100%;transition: transform .3s ease;}
body{overflow-x: hidden;}
.explain{width: 100%;position: relative;padding: 20px;;}
.explain::before{content: "";background-color: #F1F8E9;}
#click.hide{display:  none}
.main.wide{transform: translateX(10.5%);}
.image{transform: translateX(0%);padding-top: 5%;transition: transform .3s ease;text-align: center;padding-right: 200px;width: 50%;}
.photo1{transform: translateX(45%);transition: transform .3s ease;opacity: 0;position: relative; animation: fadeIn 1s ease 0.65s forwards,moveText 1s ease 0.65s forwards;animation-fill-mode: forwards;}
.photo1.px{transform: translateX(10%)}
.photo2{transform: translateX(5%);transition: transform .3s ease;padding-top: 20px;opacity: 0;position: relative; animation: fadeIn 1s ease 0.85s forwards,moveText 1s ease 0.65s forwards;animation-fill-mode: forwards;}
.photo2.px{transform: translateX(10%)}
.photo3{transform: translateX(45%);transition: transform .3s ease;padding-top: 20px;opacity: 0;position: relative; animation: fadeIn 1s ease 1.05s forwards,moveText 1s ease 0.65s forwards;animation-fill-mode: forwards;}
.photo3.px{transform: translateX(10%)}
div.image{background-color: #f3f3f3;background-image: radial-gradient(#ccc 1px,transparent 1px),radial-gradient(#e0e0e0 1px, transparent 1px);background-size: 18px 18px;background-position: 0 0, 9px 9px;}
.image.px{transform: translateX(0%);}
#click {position: fixed;top: 100px;left: 20px;z-index: 100;width: 48px;height: 48px;border: none;background: transparent;cursor: pointer;background-color: #00256650;}
#button{ height: 48px; width: 48px;height: 48px;border: none;  background: transparent;cursor: pointer;background-color: #3a006600;}
.line {position: absolute;left: 11px;width: 26px;height: 2px;background-color: #004d66;transition: all .4s;}
.line:nth-of-type(1) {top: 14px;}
.line:nth-of-type(2) {top: 23px;}
.line:nth-of-type(3) {top: 32px;}
.cross {position: absolute;left: 11px;width: 26px;height: 2px;background-color: #004d66;transition: all .4s;}
.cross:nth-of-type(1) {top: 14px;transform: translateY(9px) rotate(-45deg);}
.cross:nth-of-type(2) {top: 23px;opacity: 0;}
.cross:nth-of-type(3) {top: 32px;transform: translateY(-9px) rotate(45deg);}
.close{position: absolute;top:10px;right: 10px;z-index: 10;}
@keyframes fadeIn{from{opacity: 0;} to{opacity: 1;}}
@keyframes moveText{from{right: 0;}to{right: 50px;}}
.links{
    text-align: center;
}
#explain{
    position: relative;
    right: 80px;
}
.links img{
    height: 300px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.links img:hover  {
  transform: scale(1.1);
  z-index: 10;
}
#dog{
    position: relative;
    right: 286px;
}
#bear{
    position: relative;
    right: 85px;
}
#bird{
    position: relative;
    right: 100px;
    bottom: 21px;
}
#cat{
    position: relative;
    left: 128px;
    bottom: 21px;
}
h1{
    margin: 0;
    padding: 20px;
    background-color: #52958B;
    border-bottom: double 7px #004D47;
    border-top: double 7px #004D47;
    color: #004D47;
    text-align: center;
}
body{background-color: #F1F8E9;}
.menu{background-color: #eeeeee}
.menu a{display: inline-block;font-size: 18px;color: #2e7d32;text-decoration: none;transition:transform 0.2s ease,font-size 0.2s ease;}
.menu a:hover{transform: scale(1.3);font-weight: bold;color: #e65100;}
