.red{
    color: red
    ;
}
img{
    height: 300px;
}
#bear{
    position: relative;
    left: 206px;
}
#bird{
    position: relative;
    left: 200px;
}
#cat{
    position: relative;
    left: 433px
}