
div.text {
    padding: 50px;
    background-color: #FFFFFF;
    border: solid 2px;
    font-family: Helvetica;
}
html{
    background-color: #e6d065;
}
#title{
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #FFFFFF;
    border: solid 2px;
}
h3{
    border-bottom: solid 1px;
    font-size: 30px;
}
body{
    font-size: 20px;
}
.menu{transform: translateX(-150%);border: solid;width: 10%;position: fixed;transition: transform .3s ease;}
.menu.open{transform: translateX(0%);}
.main{transform: translateX(0%);width:100%;transition: transform .3s ease;}
body{overflow-x: hidden;}
.explain{width: 50%;position: relative;padding: 20px;background-color: white;z-index: 1;box-sizing: border-box;}
.explain::before{content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: #f3f3f3;background-image: radial-gradient(#ccc 1px,transparent 1px),radial-gradient(#e0e0e0 1px, transparent 1px);background-size: 18px 18px;background-position: 0 0, 9px 9px;border-radius:8px;z-index: -1;padding: 10px;}
#click.hide{display:  none}
.main.wide{transform: translateX(10.5%);}
.image{transform: translateX(0%);padding-top: 5%;transition: transform .3s ease;text-align: center;padding-right: 200px;width: 50%;}
.photo1{transform: translateX(45%);transition: transform .3s ease;opacity: 0;position: relative; animation: fadeIn 1s ease 0.65s forwards,moveText 1s ease 0.65s forwards;animation-fill-mode: forwards;}
.photo1.px{transform: translateX(10%)}
.photo2{transform: translateX(5%);transition: transform .3s ease;padding-top: 20px;opacity: 0;position: relative; animation: fadeIn 1s ease 0.85s forwards,moveText 1s ease 0.65s forwards;animation-fill-mode: forwards;}
.photo2.px{transform: translateX(10%)}
.photo3{transform: translateX(45%);transition: transform .3s ease;padding-top: 20px;opacity: 0;position: relative; animation: fadeIn 1s ease 1.05s forwards,moveText 1s ease 0.65s forwards;animation-fill-mode: forwards;}
.photo3.px{transform: translateX(10%)}
div.image{background-color: #f3f3f3;background-image: radial-gradient(#ccc 1px,transparent 1px),radial-gradient(#e0e0e0 1px, transparent 1px);background-size: 18px 18px;background-position: 0 0, 9px 9px;}
.image.px{transform: translateX(0%);}
#click {position: fixed;top: 100px;left: 20px;z-index: 100;width: 48px;height: 48px;border: none;background: transparent;cursor: pointer;background-color: #00256650;}
#button{ height: 48px; width: 48px;height: 48px;border: none;  background: transparent;cursor: pointer;background-color: #3a006600;}
.line {position: absolute;left: 11px;width: 26px;height: 2px;background-color: #004d66;transition: all .4s;}
.line:nth-of-type(1) {top: 14px;}
.line:nth-of-type(2) {top: 23px;}
.line:nth-of-type(3) {top: 32px;}
.cross {position: absolute;left: 11px;width: 26px;height: 2px;background-color: #004d66;transition: all .4s;}
.cross:nth-of-type(1) {top: 14px;transform: translateY(9px) rotate(-45deg);}
.cross:nth-of-type(2) {top: 23px;opacity: 0;}
.cross:nth-of-type(3) {top: 32px;transform: translateY(-9px) rotate(45deg);}
.close{position: absolute;top:10px;right: 10px;z-index: 10;}
@keyframes fadeIn{from{opacity: 0;} to{opacity: 1;}}
@keyframes moveText{from{right: 0;}to{right: 50px;}}
.menu {
  background-color: #fafafa;   /* メニュー部の背景色 */
  border: 2px solid #333;      /* 枠線の色・太さ */
  padding: 10px;                /* 領域内余白 */
  box-sizing: border-box;      /* パディングを含めて幅を計算 */
  font-size: 20px;
}
.likedogs .likelist,
.likedogs img {
  display: inline-block;
  vertical-align: top;
}

.likedogs .likelist {
  width: calc(90% - 500px); /* 画像幅＋マージン分を引いたもの */
  margin: 0;
  padding: 0;
}
.likedogs img{
        width: 450px;
        margin: 0;
        padding: 0;
}